@CHARSET "UTF-8";

input {
	-webkit-appearance: none;
	color: white;
	border: black 3px solid;
	padding: 0 0 0 0;
	visibility: hidden;
	position: absolute;
}

.pinDirection_Enabled {
	visibility: hidden;
}

.pinDirection_Disabled {
	visibility: hidden;
}

.pinName {
	visibility: hidden;
}


#pin15 {
	visibility: visible;
	top: 20px;
	left: 20px;
	width: 30px;
	height: 30px;
	font-size: 14pt;
	font-weight: bold;
}

#pin19 {
	visibility: visible;
	top: 20px;
	left: 50px;
	width: 30px;
	height: 30px;
	font-size: 14pt;
	font-weight: bold;
}

#pin21 {
	visibility: visible;
	top: 20px;
	left: 80px;
	width: 30px;
	height: 30px;
	font-size: 14pt;
	font-weight: bold;
}

#pin23 {
	visibility: visible;
	top: 20px;
	left: 110px;
	width: 30px;
	height: 30px;
	font-size: 14pt;
	font-weight: bold;
}

#pin3 {
	visibility: visible;
	top: 70px;
	left: 20px;
	width: 80px;
	height: 80px;
	font-size: 24pt;
	font-weight: bold;
}

#pin26 {
	visibility: visible;
	top: 170px;
	left: 20px;
	width: 80px;
	height: 80px;
	font-size: 24pt;
	font-weight: bold;
	color: black;
}

#pin26.LOW {
	background-color: white;
}

#pin26.HIGH {
	background-color: red;
}
