@CHARSET "UTF-8";

input {
	-webkit-appearance: none;
	font-size: 14pt;
	font-weight: bold;
	color: white;
	border: black 3px solid;
	width: 40px;
	height: 30px;
	padding: 0 0 0 0;
}

input.pindirection {
	width: 50px;
	background-color: Gray;
}

div.pinname {
	font-size: 12pt;
	font-weight: bold;
	width: 75px;
}

