@CHARSET "UTF-8";

input {
	-webkit-appearance: none;
	font-size: 14pt;
	font-weight: bold;
	color: white;
	border: black 3px solid;
	width: 40px;
	height: 30px;
	padding: 0 0 0 0;
}

.DNC {
	background-color: Gray;
}

.GND {
	background-color: Black;
}

.V33 {
	background-color: Orange;
}

.V50 {
	background-color: Red;
}

.LOW {
	background-color: Black;
}

.HIGH {
	background-color: Orange;
}

.UART {
	background-color: DarkBlue;
}

.SPI {
	background-color: Purple;
}

.I2C {
	background-color: LightBlue;
}

.DirectionEnabled {
	width: 60px;
	background-color: Gray;
}

.DirectionDisabled {
	width: 60px;
	visibility: hidden;
}

.Description {
	font-size: 12pt;
	font-weight: bold;
	width: 75px;
}

#update {
	position: absolute;
	top: 16px;
	right: 12px;
}

#update > a {
	font-family: sans-serif;
	font-size: 12pt;
	font-weight: bold;
	color: FireBrick;
}
