@CHARSET "UTF-8";

#webiopi {
	visibility: hidden;
}

input {
	-webkit-appearance: none;
	color: white;
	border: black 3px solid;
	padding: 0 0 0 0;
	position: absolute;
}

#pin3 {
	visibility: visible;
	top: 20px;
	left: 20px;
	width: 128px;
	height: 128px;
	border: none;
}

#pin3.LOW {
	background: transparent url('./demo/box-closed.png') no-repeat center center;
}

#pin3.HIGH {
	background: transparent url('./demo/box-open.png') no-repeat center center;
}

#pin26 {
	visibility: visible;
	top: 170px;
	left: 20px;
	width: 120px;
	height: 130px;
	border: none;
}

#pin26.LOW {
	background: transparent url('./demo/light-off.png') no-repeat center center;
}

#pin26.HIGH {
	background: transparent url('./demo/light-on.png') no-repeat center center;
}

#pin16 {
	visibility: visible;
	top: 320px;
	left: 20px;
	width: 82px;
	height: 82px;
	border: none;
}

#pin16.LOW {
	background: transparent url('./demo/engine-off.png') no-repeat center center;
}

#pin16.HIGH {
	background: transparent url('./demo/engine-on.png') no-repeat center center;
}

#pin18 {
	visibility: visible;
	top: 320px;
	left: 120px;
	width: 80px;
	height: 82px;
	border: none;
}

#pin18.LOW {
	background: transparent url('./demo/turn-ccw.png') no-repeat center center;
}

#pin18.HIGH {
	background: transparent url('./demo/turn-cw.png') no-repeat center center;
}
