@CHARSET "UTF-8";

button {
	display: block;
	margin: 5px 5px 5px 5px;
	width: 150px;
	height: 60px;
	font-size: 24pt;
	font-weight: bold;
	color: black;
}

input[type="range"] {
	display: block;
}

#gpio7.LOW {
	background-color: White;
}

#gpio7.HIGH {
	background-color: Red;
}



